# Ignorar pastas do .NET
bin/
obj/

# Ignorar arquivos de configuração de IDEs (exemplo do Visual Studio)
.vs/
.vscode/

# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários
*.tmp

# Ignorar dependências do Node.js (se aplicável)
node_modules/